.profileList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	justify-content: center;

	@media only screen and (max-width: 1199px) {
		grid-template-columns: 1fr 1fr;
	}
	@media only screen and (max-width: 767px) {
		grid-template-columns: 1fr;
	}
}
